html{
    background: #86BBD8;
}
h1, h2, button, input{
	text-align: center;
	font-family: sans-serif;
}
h1{
	font-size: 100px;
}
button{
	outline: none;
}
button:active{
	position:relative;
	top:1px;
}

.buttonWrapper{
    margin-top: 1%;
    text-align: center;
}
.newWordButton{
    width: 200px;
    height: 100px;
    
	background-color:#33658A;
	border-radius:8px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 24px;
	padding:6px 10px;
	text-decoration:none;
}
.removeLastWordButton{
	width: 200px;
    height: 100px;
    
	background-color:#2F4858;
	border-radius:8px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 24px;
	padding:6px 10px;
	text-decoration:none;
}

.addWord{
    padding: 10px;
	font-size: 16px;
	width: 100px;
	transition: width 2s;
	border-width: 0px;
	border-color: #CCCCCC;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.addWord:focus{
    width: 600px;
    
}
.adminCommandsWrapper{
	width: 1px;
}
.clearButton{
	box-shadow:inset 0px 1px 0px 0px white;
	width: 100px;
	background-color: white;
	border:1px solid white;
    border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-size:15px;
	padding:6px 24px;
	margin-bottom: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	
}
.greenButtonClass{
    box-shadow:inset 0px 1px 0px 0px lightgreen;
	background-color: lightgreen;
	border:1px solid lightgreen;
}
.redButtonClass{
    box-shadow:inset 0px 1px 0px 0px lightcoral;
	background-color: lightcoral;
	border:1px solid lightcoral;
}
.clearWordBar{
  width: 0px;
  transition: width 2s;
}
.passwordGrow{
    width: 100px;
}
