:root{
	--backgroundColor: #86BBD8;
	--titleTextColor: #000000;
	--buttonTextColor: #FFFFFF;
	--adminButtonBackgroundColor:  #65a9cd;
	--adminButtonBackgroundColorHover: #9fc9e0;
	--pickWordButton: #33658A;
	--pickWordButtonHover: #5793c1;
	--removeLastWordButton: #2F4858;
	--removeLastWordButtonHover: #3e5f74;
	--successButtonColor: #90EE90;
	--failureButtonColor: #F08080;
	--addWordBackgroundColor: #FFFFFF;
}
@font-face {
    font-family: font;
    src: url('font.ttf');
}
html{
    background: var(--backgroundColor);
}
h1, h2, h3, button, input{
	text-align: center;
	font-family: font, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	outline: none;
}

h1{
	color: var(--titleTextColor);
	font-size: 100px;
}

button:active{
	position:relative;
	top:1px;
}

.buttonWrapper{
    margin-top: 1%;
    text-align: center;
}
.newWordButton{
    width: 200px;
    height: 100px;
	background-color:var(--pickWordButton);
	border-radius:8px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:var(--buttonTextColor);
	font-size: 24px;
	padding:6px 10px;
	text-decoration:none;
}
#pickWord:hover{
	background-color:var(--pickWordButtonHover);
}
#removeLastWord:hover{
	background-color: var(--removeLastWordButtonHover);
}
.removeLastWordButton{
	width: 200px;
    height: 100px;
	background-color: var(--removeLastWordButton);
	border-radius:8px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:var(--buttonTextColor);
	font-size: 24px;
	padding:6px 10px;
	text-decoration:none;
}

.addWord{
    padding: 10px;
	font-size: 16px;
	width: 5%;
	transition: width 2s;
	border-width: 0px;
	border-color: #CCCCCC;
	text-align: center;
	background-color: var(--addWordBackgroundColor);
	color: #000000;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.addWord:focus{
    width: 80%;
}
.adminCommandsWrapper{
	width: 1px;
}
.adminButton{
	box-shadow:inset 0px 1px 0px 0px var(--adminButtonBackgroundColor);
	width: 120px;
	height: 60px;
	background-color: var(--adminButtonBackgroundColor);
	border:1px solid #FFFFFF;
    border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-style: bold;
	color:var(--buttonTextColor);
	font-size: 18px;
	padding:6px 24px;
	margin-bottom: 5px;
}
.adminButton:hover{
	background-color: var(--adminButtonBackgroundColorHover);
	border-color: var(--adminButtonBackgroundColorHover);
}
.greenButtonClass{
    box-shadow:inset 0px 1px 0px 0px var(--successButtonColor);
	background-color: var(--successButtonColor);
	border:1px solid var(--successButtonColor);
}
.redButtonClass{
    box-shadow:inset 0px 1px 0px 0px var(--failureButtonColor);
	background-color: var(--failureButtonColor);
	border:1px solid var(--failureButtonColor);
}
.clearWordBar{
	padding: 10px;
	font-size: 16px;
	width: 0px;
	height: 10px;
	
	border-width: 0px;
	border-color: #CCCCCC;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	opacity: 0;

	transition: width 2s, opacity 1s;
	
}

.passwordGrow{
	width: 80px;
	opacity: 1;
}
@media only screen and (max-width: 800px) {
	.adminCommandsWrapper{
		display: flex;
	}
  }